{% load static %}

<!doctype html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">


{% include 'head.html' %}

<body class="layout-light side-menu overlayScroll">
    <!-- <div class="mobile-search"></div> -->

    <div class="mobile-author-actions"></div>
    {% include 'header.html' %}
    <main class="main-content">

        {% include 'sidebar.html' %}

        <div class="contents">

                <div class="m-30">
                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">Apply</h4>
                        </div>
                    </div>
                </div>


                    <div class="row">
                        <div class="col-12">
                            <form method="POST" enctype="multipart/form-data" action="/apply/{{ field.id }}">
                                 {% csrf_token %}
                            <div class="card-body p-10 place-centers">
                                    <input style="display: none" type="text" name="student" value="{{ student_id }}" />
                                    <input style="display: none" type="text" name="field" value="{{ field.id }}" />
                                    <div class="col-6">
                                        <div class="form-group mb-20">
                                            <label for="username">Upload Field Letter</label>
                                            <input type="file" name="file" class="form-control" id="file">
                                        </div>
                                    </div>

                                     <div class="action-btn">
                                                <!-- The modal -->
                                       <input value="Apply" type="submit" class="btn btn-sm btn-primary btn-add m-20" />
                                    </div>

                            </div>
                                 </form>

                        </div>

                        <!-- ends: card -->

                    </div>


            </div>
        </div>
        {% include 'footer.html' %}
    </main>
   {% include 'overlayer.html' %}

    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script> -->
    <!-- inject:js-->
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        let ids = JSON.parse("{{ field_ids | escapejs }}")
        let student_id = JSON.parse("{{ student_id | escapejs }}")
        ids.forEach(the_id => {
            console.log(the_id)
            let check_component = document.getElementById("field_" + String(the_id))
            check_component.onchange = (e) => {
                console.log(e.target.checked)
                console.log(e.target.checked)
                let val = e.target.checked
                if (val === true) {
                    favList(the_id, "1")
                }
                else {
                    favList(the_id, "0")
                }
            }
        })
        function favList(field_id, status) {
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            const Url = "http://127.0.0.1:8000/api/list-manager"
            const data = {
                field_id: field_id,
                status: status,
                "student_id": student_id
            }
            axios({
                method: 'post',
                headers: {
                    contentType: "application/json"
                },
                url: Url,
                data: data
            })
                .then(res => {
                    console.log(res)
                })
                .catch(error => {
                    console.log(error)
                })
        }
    </script>
    <!-- endinject-->
</body>

</html>