{% load static %}

<!doctype html>
<html lang="en" dir="ltr">


{% include 'head.html' %}

<body class="layout-light side-menu overlayScroll">
    <!-- <div class="mobile-search"></div> -->

    <div class="mobile-author-actions"></div>
    {% include 'header.html' %}
    <main class="main-content">

        {% include 'sidebar.html' %}

        <div class="contents">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">Fields</h4>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    {% if length == 0 %}
                        <div class="card mb-30" style="display: flex; justify-content: center;">
                            <div class="card-body p-10 place-centers">
                                <div class="row">
                                    <img src="{% static 'assets/css/images/no-data.gif' %}" />
                                </div>
                                <div class="row justify-content-center">
                                    <h4 style="font-weight: bolder">No Added Fields to My List</h4>
                                </div>

                            </div>

                        </div>


                    {% endif %}
                    {% if length > 0 %}
                         {% for field in fields %}

                        <div class="card mb-30">
                            <div class="card-body p-10">
                                <div class="row justify-content-start m-10">
                                    <div class="col-6">
                                    <h2 class="text-capitalize breadcrumb-title">{{ field.company_name }}</h2>
                                    </div>
                                    <div class="col-6">
                                        <div class="row justify-content-end mr-10">
                                         <label for="{{ field.id }}" class="custom-checkbox">
                                             {% if field.is_fav %}
                                                <input type="checkbox" checked id="{{ field.id }}"/>
                                                 <i class="glyphicon glyphicon-star-empty"></i>
                                                <i class="glyphicon glyphicon-star"></i>
                                             {% else %}
                                                 <input type="checkbox" id="{{ field.id }}"/>
                                                 <i class="glyphicon glyphicon-star-empty"></i>
                                                <i class="glyphicon glyphicon-star"></i>
                                             {% endif %}

                                              <span>My List</span>
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-start m-20">
                                    <p>
                                        {{ field.meta_details }}
                                    </p>
                                </div>
                                <div class="row justify-content-end m-10">
                                    <div class="action-btn">
                                    <a href="/field/{{ field.id }}" class="btn btn-sm btn-primary btn-add">
                                         Read More ...
                                    </a>
                                </div>
                                </div>

                            </div>
                        </div>

                        {% endfor %}
                    {% endif %}

                    </div>

                    <!-- ends: card -->

                </div>

            </div>
        </div>
        {% include 'footer.html' %}
    </main>
   {% include 'overlayer.html' %}

    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script> -->
    <!-- inject:js-->
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        let ids = JSON.parse("{{ field_ids | escapejs }}")
        let student_id = JSON.parse("{{ student_id | escapejs }}")
        ids.forEach(id => {
            console.log(id)
            let chc = "1"
            let check_component = document.getElementById(chc)
            check_component.onchange = (e) => {
                console.log(e.path[0].checked)
                let val = e.path[0].checked
                if (val === true) {
                    favList(id, "1")
                }
                else {
                    favList(id, "0")
                }
            }
        })
        function favList(field_id, status) {
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            const Url = "http://127.0.0.1:8000/api/list-manager"
            const data = {
                field_id: field_id,
                status: status,
                "student_id": student_id
            }
            axios({
                method: 'post',
                headers: {
                    contentType: "application/json"
                },
                url: Url,
                data: data
            })
                .then(res => {
                    console.log(res)
                })
                .catch(error => {
                    console.log(error)
                })
        }
    </script>
    <!-- endinject-->
</body>

</html>