{% load static %}


<aside class="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li class="menu-title">
                <span>Main menu</span>
            </li>
            <li class="has-child open">
                <a href="#" class="active">
                    <span data-feather="home" class="nav-icon"></span>
                    <span class="menu-text">Dashboard</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="active" href="/">Overview</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li>
                        <a class="" href="/applications">Applications</a>
                    </li>
                    {% endif %}
                    {% if not request.user.is_staff %}
                    <li>
                        <a class="" href="/my-list">My List</a>
                    </li>
                    {% endif %}
                {% if request.user.is_staff %}
                    <li>
                        <a class="" href="/add-course">Add Course</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li>
                        <a class="" href="/add-field">Add Field</a>
                    </li>
                    {% endif %}

                </ul>
            </li>

        </ul>
    </div>
</aside>
